<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chhota.databaseexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />

    <permission
        android:name="com.example.chhota.databaseexample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.chhota.databaseexample.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageList"
            android:label="@string/title_activity_image_list" />

        <!--
        <service
            android:name="com.example.chhota.pushnotification.GCMBrodcastReciver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        -->
        <receiver
            android:name="com.example.chhota.pushnotification.GCMBrodcastReciver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.chhota.pushnotification" />
            </intent-filter>
        </receiver>

        <!-- 2. Add the following intent service: -->
        <service
            android:name="com.example.chhota.pushnotification.GCMIntentService"
            android:exported="false" />
        <service
            android:name="com.example.chhota.pushnotification.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ContentListActivity"
            android:label="@string/title_activity_content_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DisplayItemActivity"
            android:label="@string/title_activity_display_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DisplayNumber"
            android:label="@string/title_activity_display_number"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".RemaningDisplay"></activity>
    </application>

</manifest>
